.App{
  max-width: 1400px;
  margin: 0 auto;
  /* height: 200vh; */
}

.forAll{
  background-color: #fff;
  padding: 15px;
}

.forAll h1{
  padding: 20px 0;
  font-size: 3rem;
  text-align: center;

}

.forAll h1::after{
  content:"";
  display: block;
  width: 50%;
  margin: 4px auto;
  border-bottom: 3px solid #4ABCDD;
}

