.contacts{
    padding-top:60px;
}

.contact{
    position: relative;
    display: flex;
}

.contact a {
    height: 100px;
    width: 150px;
}

.contact a i{
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50% , -50%);

    font-size: 7rem;
    color: #000;
}

/* for desktop */

.contact a i:hover{
    /* font-size: 7rem; */
    color: rgba(74, 188, 221, 0.9);
    transition: all 0.2s ease-in-out;
}

.text{
    display: flex;
    width: 100%;   
    align-items: center;
    justify-content: flex-start;    
}

.text p{
    font-size: 1.2rem;
    letter-spacing: 1px;
}

@media(min-width:768px){
    .contact a i{
        font-size:5rem;
    }
    .contact a i:hover{
        font-size: 7rem;
        transition: all 0.2s ease-in-out;
    }
    .text p{
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
}