/* .MyResumeSection{
    background-color: #fff;
}

.MyResumeSection h1{
    padding: 20px;
    font-size: 3rem;
    text-align: center;

}

.MyResumeSection h1::after{
    content:"";
    display: block;
    width: 75%;
    margin: 4px auto;
    border-bottom: 2px solid #4ABCDD;
} */


.education p{
    display: inline-block;
    padding: 20px 10px;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.leftTimeLine{
    display: inline-block;
    width: 100%;
    text-align: right;
    /* padding-right: 50%; */
}

.rightTimeLine{
    display: inline-block;
    width: 100%;
    text-align: left;
    /* padding-left: 50%; */
}

.school {
    padding: 20px;
}

.schoolName{
    display: inline;
    font-size: 2.5rem;
    font-weight: bold;
    
}

.schoolDetail p{
    padding: 10px 45px;
    font-size: 1.5rem;
}

.schoolDetail p:first-child{
    font-size: 2rem;
    padding-top: 10px;
}

.schoolDetail p:nth-child(3){
    color:#555;
}

/* for bigger screen */

/* 
.leftTimeLine .schoolName::after{
    content:"";
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-left: 20px;
    background-color: #fff;
    border: 2px solid #555;
    border-radius: 100px;
}

.rightTimeLine .schoolName::before{
    content:"";
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 20px;
    background-color: #fff;
    border: 2px solid #555;
    border-radius: 100px;
} */