.serviceSection{
    display: block;
    padding-top: 20px;
    text-align: center;
    
}

.serviceIco img , .serviceIco i{
    width: 200px;
    height: 200px;
    padding: 15px;
    border: 4px solid #bbb;
    border-radius: 100px;
    font-size: 16rem;
}

.serviceSection h2{
    padding-top: 10px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.serviceSection p{
    padding: 5px 0px 50px 0px ;
    font-size: 1.5rem;
    color: #555;
}