.circle{
    /* margin: 0 auto; */
    display: inline-block;
    padding: 2%;
    width:33%;
}

.circle p{
    padding: 10px 0;
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

/* .procentage{
    position: absolute;
    top:50%;
    left:50%;

    transform: translate(-50% , -50%)
}

.procentage::first-letter{
    font-size: 130%;
} */
