.circle{
    /* margin: 0 auto; */
    display: inline-block;
    padding: 5%;
    width:50%;
}

.circle p{
    padding: 10px 0;
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

/* .procentage{
    position: absolute;
    top:50%;
    left:50%;

    transform: translate(-50% , -50%)
}

.procentage::first-letter{
    font-size: 130%;
} */

@media(min-width:576px){
    .circle{
        display: inline-block;
        padding: 05%;
        width:33%;
    }
}

@media(min-width:768px){
    .skills{
        margin: 0 auto;
        max-width: 800px;
    }
}
